<ul>
  <% posts.each(function(post) { %>
    <li>
      <a href="#/posts/<%= post.id %>"><%= post.escape("title") %></a>
      <button data-id="<%= post.id %>" class='delete-post'>
        Delete
      </button>
    </li>
  <% }); %>
</ul>
